@import "/main.css";
.appname{
	color: #66f;
	font-size: 14px;
	font-weight: bold;
}
.copy{
	color: #888;
	font-size: 9px;
}
.staticdate{	
	color: #a66;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 0;
	background: white;
	border: 1px solid #ddd;
	padding: .5em;
}

.referrers{
	font-size: 10px;
}

div.top img{
	border: 0;
}
div.installdirections{
	color: #777;
	padding: 1em;
	font-size: 11px;
}
span.installdir{
	color: #f80;
	font-weight: bold;
}
.hilite{
	color: #f83;
}

span.installfile{
	color: #66f;
}


span.installaction{
	font-weight: bold;
}

span.downloadsheader{
	font-style: italic;
	color: #999;
}

span.downloadsdate{
	font-style: italic;
}
#cornerclick{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
a >img{
	border: 0;
}