<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CornerClick</string>
	<key>CFBundleGetInfoString</key>
	<string>0.4, © 2003-2004 Greg Schueler</string>
	<key>CFBundleIconFile</key>
	<string>CornerClickIcon.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>us.vario.greg.CornerClick</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CornerClick</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>NSMainNibFile</key>
	<string>ClickBoxPref</string>
	<key>NSPrefPaneIconFile</key>
	<string>CornerClickIcon.tiff</string>
	<key>NSPrincipalClass</key>
	<string>ClickBoxPref</string>
</dict>
</plist>
