body{
	margin:0;
	padding:10px;
	font-family: Verdana, "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", sans-serif;
	color: #000;
	font-size: 10pt;
	background: #fff url(/img/bg-y2.gif) repeat-y top left;
}
body div.content{
	margin: 1em;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
	padding: .5em;
	clear: both;
	text-shadow: 3px 3px 5px #aaa;
}

h1 {
}
p,pre{
	margin: 0;
	padding: 1em;
}
p+p{
	padding-top: 0;
}
code{
	color: #E17E2B;
}
pre{
	background: #FFF4BD;
	margin: 0 .5em;
}

a{

    color: blue;
	text-decoration: none;
}
a:hover{
	background: #E2EDFF;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #aaa;
}
div.nav{
	
	float: left;
	width: 100%;
    margin-bottom: 10px;
}

div.nav a, div.nav span.info{
	float: left;
	display: block;
	margin:0;
	padding: 4px;
}
div.nav a{
	color: #83C549;
	
 	border-bottom: 4px solid #f2f2f2;
	border-left: 8px solid #fff;
	border-right: 8px solid #fff;
}
div.nav a.r{
    float: right;
}
div.nav a + a{

}
div.nav a.sepL{
}
div.nav a.sepR{

}
div.nav a:hover{
    background: #DEFFBD;
    text-shadow: 2px 2px 2px #bbb;
 	border-bottom: 4px solid #e2e2e2;
}

hr{
    height: 10px;
    border:0;
    background: #f2f2f2;
}
