</div>
<div class="quickbard">
<span class="copy">&copy; 2003-2010 Greg Schueler</span> 
&bull; <a href="http://gschueler.github.com/CornerClick">CornerClick for Mac OS X</a>
&bull; <a class="xmlfeed" href="http://feeds.feedburner.com/Cornerclick" title="RSS feed for CornerClick">RSS</a>
</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-85185-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<a href="http://github.com/gschueler/CornerClick"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>
</body>
</html>
