@import url(/cornerclick/nouveau.css);

body{
	padding: 20px;
}

div.doccontent{
    border:0;
        border-top: 5px solid #aaa;
        -moz-border-radius: 0 0px 12px 12px;
        padding: 0 16px 10px 16px;
        background: #eee url(/cornerclick/img/bgtop-white1.png) no-repeat top left;

        font-size: 11pt;
}

div.doccontent h1{

        font-weight: bold;
        font-size: 16pt;
        font-style: italic;
        text-shadow: 3px 3px 3px #999999;
        padding-bottom: 0;
        font-family: Geneva;

}
#dllink{
        text-shadow: 3px 3px 3px #999999;
	font-size: 12pt;
}
#dlbox{
	margin: 10px;
	display: inline-block;
	padding: 5px;
	background: #ddd;
	border: 1px solid #aaa;
        -moz-border-radius: 8px;
}
